.main__events_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 2vw;
  margin-bottom: 100vh;
}

.main__events_container-loading {
  width: inherit;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}

.main__events_container-error {
  width: inherit;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ea7070;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  gap: 20px;
}

.events__date {
  color: #4c4c4c;
  font-weight: 700;
  line-height: 1.1;
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  padding: 5px;
  font-size: 1rem;
  width: 30px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 100px;
  border-bottom: 3px var(--main-dark-color) solid;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 500px) {
  .events__date {
    width: 100px;
    padding: 10px 2px;
    padding: 30px;
    font-size: 3rem;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}

.events__group {
  height: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@-webkit-keyframes animate-events-entry {
  0% {
    -webkit-transform: translateY(-200vh);
            transform: translateY(-200vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate-events-entry {
  0% {
    -webkit-transform: translateY(-200vh);
            transform: translateY(-200vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.event {
  width: 300px;
  height: 500px;
  border-radius: 5px;
  border: none;
  opacity: 1;
  -webkit-box-shadow: 0 0 5px #b1b1b1;
          box-shadow: 0 0 5px #b1b1b1;
  font-family: "Playfair Display", serif;
  position: relative;
  -webkit-transform: translateY(-200vh);
          transform: translateY(-200vh);
  -webkit-animation: animate-events-entry 1s ease-in-out forwards;
          animation: animate-events-entry 1s ease-in-out forwards;
}

@media screen and (min-width: 400px) {
  .event {
    width: 300px;
  }
}

.event__flyer img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 300px;
}

.event__flyer img:before {
  content: "no image";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #494949;
}

.event__title {
  color: var(--main-dark-color);
  padding: 20px;
  font-weight: bold;
  height: 60px;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event__title .tag {
  display: inline-block;
  display: block;
  text-align: center;
  padding: 2px 7px;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  font-family: "Roboto", sans-serif;
}

.event__footer {
  position: relative;
  min-height: 100px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event__footer__start, .event__footer__ends {
  font-size: 0.8rem;
  position: relative;
  font-family: "Robotoy", sans-serif;
  font-weight: 500;
}

.event__footer__start::before, .event__footer__ends::before {
  content: "|";
  position: absolute;
  height: 10px;
  width: 10px;
  top: -2px;
  left: -10px;
  font-weight: bolder;
  color: #494949;
}

.event__footer .plus_icon {
  position: absolute;
  right: 20px;
  bottom: 50px;
  background-color: var(--main-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  color: white;
  border: 1px transparent solid;
  cursor: pointer;
  -webkit-transition: var(--btn-transitions);
  transition: var(--btn-transitions);
  -webkit-box-shadow: 0 0 8px var(--main-light-color);
          box-shadow: 0 0 8px var(--main-light-color);
}

.event__footer .plus_icon:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px #494949 solid;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.event_venue {
  text-decoration: none;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  margin-bottom: 10px;
  color: blue;
  cursor: pointer;
}

.events .not-found {
  text-align: center;
}

.emoji {
  white-space: nowrap;
}
/*# sourceMappingURL=events.css.map */