header {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 840px;
  padding-inline: 2vw;

  h2 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
  }
  .location {
    display: flex;
    align-items: center;
    gap: 50px;
    &__title,
    &__dates-range {
      text-transform: uppercase;
      border: 2px var(--main-light-color) solid;
      border-radius: 9999px;
      width: fit-content;
      padding-block: 2px;
      padding-left: 2px;
      padding-right: 8px;
      font-weight: 600;
      color: var(--main-dark-color);
      display: flex;
      align-items: center;
      gap: 2px;
    }
    &__dates-range {
      padding-inline: 10px;
      padding-block: 4px;
    }
  }
}
